
services:

  app:
    container_name: user-service
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3002:3002"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules/
    command: yarn start:dev
    depends_on:
      - postgres
    env_file:
      - .env

  postgres:
    image: postgres:15-alpine
    container_name: user_postgres
    restart: always
    environment:
      POSTGRES_DB: usersvcdb
      POSTGRES_USER: usersvc
      POSTGRES_PASSWORD: usersvc_pass
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - '5433:5432'

volumes:
  pgdata:
